[Desktop Entry]
Type=Application
Name=Discord Bot Startup
Exec=bash -c "lxterminal -e '/home/drsauce/discord-platoon-bot/startup-bot.sh' || x-terminal-emulator -e '/home/drsauce/discord-platoon-bot/startup-bot.sh'"
Terminal=true
X-DesktopFile-StartupNotify=true 